################################################################################
#
#  DROPWHALE SETTINGS FILE
#
#  Below are variables you can set to customize the use of Dropwhale to your
#  needs. This file is used as an environment file in Docker, and each
#  setting has the following format:
#
#  NAME_OF_SETTING=valueOfSetting
#
#  IMPORTANT NOTE:
#  These settings only take effect when starting the containers. This means you
#  will need to run .dropwhale/stop.sh and then .dropwhale/start.sh for them to
#  take effect.
#
################################################################################

### Module settings ############################################################

# The machine name of your module. This setting is __required__!

MODULE_NAME=your_module_name

# If you need to enable additional modules installed an enabled, uncomment
# ADDITIONAL_MODULES below and enter the machine name. If you need more than
# one, separate the machine name with a space. These can be submodules of your
# module, or modules available on Drupal.org.

# ADDITIONAL_MODULES=examples simpletest

### Drupal settings ############################################################

# By default, Dropwhale uses an easy-to-guess login for the Drupal superuser.

DRUPAL_USER=admin
DRUPAL_PASSWORD=password

# The git branch name of Drupal core to clone.

DRUPAL_BRANCH=8.3.x

### Database settings ##########################################################

# If you wish to change the database settings, enter them below.

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=drupal
MYSQL_USER=drupal
MYSQL_PASSWORD=drupal

### XDebug settings ############################################################

# Uncomment and configure the below to enable XDebug.

#PHP_XDEBUG_ENABLED=1
#PHP_XDEBUG_AUTOSTART=1
#PHP_XDEBUG_REMOTE_CONNECT_BACK=1

# On Docker for Mac and Windows, you *must* specify the Hosts's IP address!
#
# On macOS, create a loopback alias with:
#
#   sudo ifconfig en0 alias 10.254.254.254 255.255.255.0

#PHP_XDEBUG_REMOTE_HOST=10.254.254.254
