################################################################################
#
#  DROPWHALE SETTINGS FILE
#
#  Below are variables you can set to customize the use of Dropwhale to your
#  needs. This file is used as an environment file in Docker, and each
#  setting has the following format:
#
#  NAME_OF_SETTING=valueOfSetting
#
#  IMPORTANT NOTE:
#  These settings only take effect when starting the containers. This means you
#  will need to run .dropwhale/stop.sh and then .dropwhale/start.sh for them to
#  take effect.
#
################################################################################

### Module settings ############################################################

# The machine name of your module. This setting is __required__!

MODULE_NAME=your_module_name

# If you need to enable additional modules installed an enabled, uncomment
# ADDITIONAL_MODULES below and enter the machine name. If you need more than
# one, separate the machine name with a space. These can be submodules of your
# module, or modules available on Drupal.org.

# ADDITIONAL_MODULES=examples simpletest

### Drupal settings ############################################################

# By default, Dropwhale uses an easy-to-guess login for the Drupal superuser.

DRUPAL_USER=admin
DRUPAL_PASSWORD=password

# The git branch name of Drupal core to clone.

DRUPAL_BRANCH=8.5.x

### Database settings ##########################################################

# If you wish to change the database settings, enter them below.

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=drupal
MYSQL_USER=drupal
MYSQL_PASSWORD=drupal

# If you get "the server has gone away" errors, try increasing the following:

MYSQL_MAX_ALLOWED_PACKET=256M

### XDebug settings ############################################################

# Uncomment and configure the below to enable XDebug.

#PHP_XDEBUG_ENABLED=1
#PHP_XDEBUG_AUTOSTART=1

# On Linux, you can just uncomment the below and debug!

#PHP_XDEBUG_REMOTE_CONNECT_BACK=1

# For Docker for macOS or Windows, you need to provide your IP address.
#
# For macOS, you can create an alias of your loopback (127.0.0.1) address
# with the following command:
#
# sudo ifconfig en0 alias 10.254.254.254 255.255.255.0
#
# If you are running Linux and sharing your .env with mixed-OS team members,
# you can also create a URL alias using the following:
#
# sudo ip -4 addr add 10.254.254.254/32 dev lo

#PHP_XDEBUG_REMOTE_HOST=10.254.254.254

# For PHP_XDEBUG_REMOTE_HOST to work, you need to *disable* connect back.

#PHP_XDEBUG_REMOTE_CONNECT_BACK=0

# Pipe XDebug logs to STDOUT? You only need to do this if Xdebug isn't working.

#PHP_XDEBUG_STDOUT_LOGS=1

### XDebug profiler ############################################################

# Set the GET or cookie parameter to run XDebug profiling.

# PHP_XDEBUG_PROFILE_TRIGGER=XDEBUG_PROFILE

# If you want to profile every page, uncomment the following.

# PHP_XDEBUG_PROFILE_FORCE=1

### PHP settings ###############################################################

# Uncomment and configure to set the sendmail path.

PHP_SENDMAIL_PATH=/usr/sbin/sendmail -t -i -S mailhog:1025
