data:
 volumes:
   - ..:/var/www/html/modules/your_module_name
cli:
 environment:
   - DRUPAL_BRANCH=8.2.x
   - MODULE_ENABLE=list_of_modules space_delimited
   - DRUPAL_USER=admin
   - DRUPAL_PASSWORD=password
db:
 environment:
   - MYSQL_ROOT_PASSWORD=root
   - MYSQL_DATABASE=your_database_name
   - MYSQL_USER=your_database_user
   - MYSQL_PASSWORD=your_database_password